body, html {
    margin: 0;
    padding: 0;

}
body {
    background: #d9e3ea;
    color: #6A6A6A;
    font-family: "Arial",  "Verdana", "sans-serif";
    font-size: 11px;
}

.container {
    background: url('../img/container_fade_bg.png') center repeat-y;
    width: 545px;
    height: 200px;
    margin: 0 auto;
}

.main h1 {
    font-size: 31px;
    font-weight: normal;
    text-align: center;
    margin: 0;
    padding: 45px 0 45px 0;
}

.main {
    padding: 0 22px;
    margin: 0 10px;
}

.bottom {
    background: url('../img/container_fade_bottom.png') center no-repeat;
    height: 22px;
    width: 545px;
    margin: 0 auto;
}

#dialog {

}

#convert-form {
    text-align: center;
}

#convert-form input[type="text"] {
    width: 63px;
}
#convert-form select {
    width: 102px;
}

.bottom p {

    margin: 0;
    padding: 34px 30px;
}

.bottom p span {
    padding-left: 30px;
}
